<div class="ui stackable borderless vertically fitted three item menu">

    <!-- Left -->
    <!-- Search Bar -->
    <div class ="ui item">
      <div class="ui search small item">
        <div class="ui icon input">
          <input class = "prompt" type="text" placeholder="Search...">
          <i class="search icon"></i>
        </div>
      </div>
    </div>

    <!-- Center -->
    <!-- Logo  -->
    <a href="#" class="header item">
      <img class="logo" src="assets/images/logo.png">
      Project Name
    </a>

    <!-- Right -->
    <div class ="ui item">
    <!-- Notificazion Dropdown -->
    <div class="ui simple dropdown item">
      Notifications <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="#">notify 1</a>
        <a class="item" href="#">notify 2</a>
        <a class="item" href="#">Open</a>
      </div>
    </div>
    <!-- Registered User -->
    <div class="ui simple dropdown item">
      Name Surname <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="#">Profile</a>
        <a class="item" href="#">Log Out</a>
      </div>
    </div>
    <!-- Owner User -->
    <a href="#" class="item">
      My Restaurant(s)
    </a>
    <!-- Anonymous User -->
    <div class="item">
      <div class="ui primary button right">Sign up</div>
    </div>
    <div class="item">
      <div class="ui button right">Log-in</div>
    </div>

  </div>

</div>
