<div class="ui feed">
  <div class="event">
    <div class="content">
      <div class="summary">
        <a>Utente</a> </br>
        <div class="ui heart rating">
	  <i class="heart icon"> </i>
	  <i class="heart icon"> </i>
	  <i class="heart icon"> </i>
	  <i class="heart icon"> </i>
	  <i class="heart icon"> </i>
	</div>
        <div class="date">3 days ago</div>
        <div class="Text">Titolo</div>
      </div>
      <div class="extra text">
        Ho mangiato tanto bene era tanto buono era bello yeah.
      </div>
    </div>
  </div>
</div>
