.mySlides {
  display:none
}

.w3-left, .w3-right, .w3-badge {
  cursor:pointer
}
.w3-badge {
  height:13px;
  width:13px;
  padding:0
}

#tabs {
  min-height: 500px;
}

#map {
  min-height: 500px;
}
