body {
    background-image: url(sfondo.png); 
  }

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}

.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  margin-top: 1em;
  margin-bottom: 0em;
  font-size: 7em;
  font-weight: normal;
}

@media only screen and (max-width: 700px){
  .masthead h1.ui.header {
  font-size: 3em;
  }
}
