body {
    background-image: url(sfondo.png); 
}
      
.ui.grid {
    margin-top: 2em;
}
        
.column {
    max-width: 450px;
}

/*bottone primario: colore dorato*/
#p_button {
    background-color: #ffbf66;
}

/*testo con sfondo trasparente*/
#s_text{
    background-color:rgba(256,256,256,0.6)
}