body {
    background-image: url(sfondo.png); 
}
        
body > .grid {
    height: 100%;
}
        
.column {
    max-width: 450px;
}

#p_button {
    background-color: #ffbf66;
}

#s_text{
    background-color:rgba(256,256,256,0.6)
}
